@import "../../shared/styles/variables";

.bundle {
    margin: 50px 0 150px;
}

.bundle-title {
    text-align: center;
    margin-bottom: 100px;
    h2 {
        margin-bottom: 15px;
    }
}

.bundle-cards {
    display: flex;
    justify-content: space-between;
}

.question {
    padding: 100px 0 450px;
    background: #26120c;
}

.feedback-wrapper {
    margin-top: -350px;
    ::ng-deep {
        .feedback {
            h2,
            h4,
            p {
                color: #fff ;
            }
            p {
                opacity: 0.7;
            }
            .orange{
                color: $primary;
            }
            .post{
                color: $titleText;
            }
        }
    }
}

.question-title {
    text-align: center;
    margin-bottom: 50px;
    span {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 5px;
        color: #ffffff;
    }
    h2 {
        color: #fff;
        margin-bottom: 15px;
    }
    p {
        color: #fff;
    }
}

.questions {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.question-item {
    width: 48%;
    height: 98px;
    margin-bottom: 30px;
    padding: 30px;
    background: #2f2725;
    border-radius: 25px;
    overflow: hidden;
    transition: all 1s ease;
}

.question-item-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 37px;
    p {
        font-weight: 500;
        font-size: 22px;
        color: #fff;
    }
}

.line {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 20px;
}

.question-btn {
    width: 32px;
    height: 32px;
    outline: none;
    border: none;
    cursor: pointer;
    position: relative;
    background: transparent;
    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        background: $primary;
    }
}

.commitment {
    margin-top: 180px;
    margin-bottom: 150px;
}

.commitment-header {
    p {
        margin-top: 25px;
        width: 500px;
    }
}

.commitment-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    .card-long {
        .card-ico {
            background: url("../../../assets/images/star.svg") center/30px no-repeat $primary;
        }
    }
}

.delivery {
    width: 397px;
    p:nth-child(1) {
        margin: 20px 0px 30px;
    }
    p:nth-child(2) {
        margin: 6px 0px;
    }
    button {
        margin-top: 40px;
    }
    span {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 54px;
        line-height: 150%;
        span {
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 1215px) and (min-width: 1000px) {
    .foods-card{
        width: 315px;
        .foods-card-head h5 {
            font-size: 26px;
        }
        h2{
            font-size: 42px;
        }
    }
    .card-long{
        width: 595px;
    }
    .delivery{
        width: 360px;
    }
    .question-item-top{
        p{
            font-size: 21px;
        }
    }
}

@media screen and (max-width: 1000px) and (min-width: 880px) {
    .foods-card{
        width: 280px;
        height: 385px;
        .foods-card-head {
            padding-bottom: 20px;
            .head-photo{
                min-width: 80px;
                height: 80px;
            }
            h5{
                font-size: 26px;
            }
        }
        h2{
            font-size: 38px;
        }
    }
    .card-long{
        width: 475px;
    }
    .delivery{
        width: 360px;
    }
    .question-item-top{
        p{
            font-size: 18px;
        }
    }
}
@media screen and (max-width: 880px) and (min-width: 769px) {
    .bundle{
        margin-bottom: -80px;
    }
    .bundle-title{
        margin-bottom: 60px;
        h2{
            font-size: 40px;
        }
    }
    .foods-card{
        width: 238px;
        height: 325px;
        .foods-card-head {
            padding-bottom: 20px;
            margin-bottom: 5px;
            .head-photo{
                min-width: 80px;
                height: 80px;
                margin-right: 5px;
            }
            h5{
                font-size: 19px;
            }
            p{
                font-size: 10px;
            }
        }
        button{
            min-height: 41px;
        }
        h2{
            font-size: 33px;
        }
        li{
            margin: 0;
        }
    }
    .card-long{
        width: 370px;
    }
    .delivery{
        width: 340px;
    }
    .question-item-top{
        p{
            font-size: 14px;
        }
    }
}

@media screen and (max-width: 768px) {
    .bundle {
        padding: 0px 30px;
        margin: 50px 0 80px;
    }
    .bundle-title {
        margin-bottom: 50px;
    }
    .bundle-cards {
        flex-wrap: wrap;
        padding: 0px 30px;
        justify-content: center;
        .foods-card{
            margin-bottom: 30px;
        }
    }
    .question {
        padding: 30px 0;
        margin-bottom: 80px;
    }
    .feedback {
        margin: 0;
    }
    .question-inner {
        padding: 0px 30px;
    }
    .question-item {
        width: 100%;
        margin-bottom: 20px;
        padding: 15px;
    }
    .question-item-top {
        margin-top: 20px !important;
        p {
            font-size: 18px;
        }
    }
    .commitment {
        padding: 0px 30px;
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .commitment-header {
        margin-bottom: 30px;
        p {
            width: 100%;
            margin-top: 10px;
        }
    }
    .feedback-wrapper {
        margin-top: 0;
        ::ng-deep {
            .feedback {
                h2, p {
                    color: $titleText;
                }
                h4 {
                    color: $primary !important;
                }
            }
        }
    }
    .commitment-footer {
        flex-wrap: wrap;
        justify-content: center;
        .card-long {
            margin-bottom: 50px;
        }
        .delivery {
            button {
                display: inline;
                height: auto;
                padding: 0;
                margin-top: 22px;
                border: none;
                &:hover {
                    background-color: transparent;
                    border: none;
                }
                &:focus {
                    color: $primaryHover;
                }
            }
        }
    }
}

@media screen and (max-width: 414px){
.question-item-top {
        margin-top: 10px !important;
        p {
            font-size: 18px;
        }
    }
}