@import "../../shared/styles/variables";

.bundle {
    margin: 50px 0 150px;
}

.bundle-title {
    text-align: center;
    margin-bottom: 100px;
    h2 {
        margin-bottom: 15px;
    }
}

.bundle-cards {
    display: flex;
    justify-content: space-between;
}

.question {
    padding: 100px 0;
    margin-bottom: 150px;
    background: #26120c;
}

.question-title {
    text-align: center;
    margin-bottom: 50px;
    span {
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 32px;
        text-align: center;
        letter-spacing: 5px;
        color: #ffffff;
    }
    h2 {
        color: #fff;
        margin-bottom: 15px;
    }
    p {
        color: #fff;
    }
}

.questions{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.question-item {
    width: 48%;
    height: 98px;
    margin-bottom: 30px;
    padding: 30px;
    background: #2f2725;
    border-radius: 25px;
    overflow: hidden;
    transition: all 1s ease;
}

.question-item-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 37px;
    p{
        font-weight: 500;
        font-size: 22px;
        color: #fff;
    }
}

.line{
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 20px;
}

.question-btn {
    width: 32px;
    height: 32px;
    outline: none;
    border: none;
    cursor: pointer;
    position: relative;
    background: transparent;
    &::after{
        content: '';
        display: block;
        width: 100%;
        height: 4px;
        background: $primary;
    }
}

@media screen and (max-width: 414px) {
    .bundle {
        padding: 0px 30px;
        margin: 50px 0 80px;
    }
    .bundle-title {
        margin-bottom: 50px;
    }
    .bundle-cards {
        flex-wrap: wrap;
    }
    .question{
        padding: 30px 0;
        margin-bottom: 80px;
    }
    .question-inner{
        padding: 0px 30px;
    }
    .question-item{
        width: 100%;
        margin-bottom: 20px;
        padding: 15px;
    }
    .question-item-top{
        p{
            font-size: 18px;
        }
    }
}
