<div class="container">
    <div class="order" *ngFor="let o of archiveOrders; let i=index">
        <div class="d-flex">
            <div class="order-data d-flex flex-column mb-4">
                <label class="label me-3">
                    <p>Name</p>
                    <input type="text" class="control" disabled [value]="o.name">
                </label>
                <label class="label me-3">
                    <p>Phone</p>
                    <input type="text" class="control" disabled [value]="o.phone">
                </label>
                <label class="label me-3">
                    <p>Address</p>
                    <input type="text" class="control" disabled [value]="o.address">
                </label>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Weight</th>
                        <th scope="col">Count</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of o.products; let i=index">
                        <th scope="row">{{ i+1 }}</th>
                        <td>{{ p.name }}</td>
                        <td>{{ p.weight }}</td>
                        <td>{{ p.count }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <button class="btn done" (click)="openModal(template)">Delete</button>
        <ng-template #template>
            <div class="modal-body text-center">
                <p>The order will be deleted. Сontinue?</p>
                <button type="button" class="btn btn-default" (click)="deleteOrder(o)">Yes</button>
                <button type="button" class="btn btn-default" (click)="modalRef.hide()">No</button>
            </div>
        </ng-template>
    </div>
</div>