<article>
    <div class="wrapper">
        <div class="menu">
            <div class="menu-title">
                <h2>Today’s featured</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
                </p>
            </div>
            <div class="menu-bottom">
                <div class="menu-sidebar">
                    <div class="sidebar-btns">
                        <button class="sidebar-btn" (click)="selectMainCat('Main Course')">Main Course</button>
                        <button class="sidebar-btn" (click)="selectMainCat('Dizzerts')">Dizzerts</button>
                        <button class="sidebar-btn" (click)="selectMainCat('Appetizers')">Appetizers</button>
                    </div>
                    <!--<div class="sidebar-footer">
                        <span>Qt.</span>
                        <div class="counter">
                            <button class="minus"></button>
                            <span>12</span>
                            <button class="plus"></button>
                        </div>
                    </div>-->
                    <div class="sidebar-right">
                        <form [formGroup]="subCatForm" class="choose" >
                            <select formControlName="cat" (change)="selectCat()" class="control-select">
                                <option value="All" selected>All</option>
                                <option [value]="c.name" *ngFor="let c of categories">{{c.name}}</option>
                            </select>
                        </form>
                        <div class="menu-list">
                            <div class="list-item" *ngFor="let p of newProducts" (click)="selectProduct(p)">
                                <div class="item-img" [style.backgroundImage]="'url('+p.images[0]+')'"></div>
                                <div class="item-title">{{ p.name }}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-content">
                    <div class="product">
                        <div class="product-photos">
                            <div class="product-main-photo" [style.backgroundImage]="'url('+selectProd?.images[0]+')'"></div>
                            <div class="footer-photos">
                                <div class="footer-photo" [style.backgroundImage]="'url('+selectProd?.images[1]+')'"></div>
                                <div class="footer-photo" [style.backgroundImage]="'url('+selectProd?.images[2]+')'"></div>
                            </div>
                        </div>
                        <div class="product-desc">
                            <h4>{{ selectProd?.name }}</h4>
                            <span class="primary-text">Calories : {{ selectProd?.weight}}gr {{ selectProd?.subCategory }}</span>
                            <p>
                                {{ selectProd?.description }}
                            </p>
                            <h2>{{ selectProd?.price * selectProd?.count | number: '0.0-2' }}$</h2>
                            <div class="counter">
                                <button type="button" class="count-btn" (click)="changeCount(selectProd, false)"  [disabled]="countStatus"></button>
                                <h5>{{ selectProd?.count }}</h5>
                                <button type="button" class="count-btn" (click)="changeCount(selectProd, true)" ></button>
                            </div>
                            <div class="product-footer-btns">
                                <button class="outline-primary-medium" (click)="openModal(template)">See More</button>
                                <button class="primary-medium" (click)="addToBasket(selectProd)">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>

<div class="menus">
    <app-menustoday></app-menustoday>
</div>
<app-subscribe></app-subscribe>





<ng-template #template>
    <div class="details">
        <button type="button" class="close-btn" aria-label="Close" (click)="modalRef.hide()">
        </button>
        <div class="details-photos mb-4">
            <div class="details-main-photo mb-3" [style.backgroundImage]="'url('+selectProd?.images[0]+')'"></div>
            <div class="details-footer-photos">
                <div class="details-footer-photo" [style.backgroundImage]="'url('+selectProd?.images[1]+')'"></div>
                <div class="details-footer-photo" [style.backgroundImage]="'url('+selectProd?.images[2]+')'"></div>
                <div class="details-footer-photo" [style.backgroundImage]="'url('+selectProd?.images[3]+')'"></div>
            </div>
        </div>
        <div class="description mb-4">
            <h4>{{ selectProd?.name }}</h4>
            <p class="primary-text">Calories : {{ selectProd?.weight }}gr {{ selectProd?.subCategory }}</p>
            <p>
                {{ selectProd?.description }}
            </p>
        </div>
        <div class="card">
            <h4>Ingredients</h4>
            <p>
                {{ selectProd?.ingredients }}
            </p>
        </div>
    </div>
</ng-template>