<article>
    <div class="wrapper">
        <div class="menu">
            <div class="menu-title">
                <h2>Today’s featured</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
                </p>
            </div>
            <div class="menu-bottom">
                <div class="menu-sidebar">
                    <div class="sidebar-btns">
                        <button class="sidebar-btn active-btn">Main Course</button>
                        <button class="sidebar-btn">Dizzerts</button>
                        <button class="sidebar-btn">Appetizers</button>
                    </div>
                    <div class="sidebar-footer">
                        <span>Qt.</span>
                        <div class="counter">
                            <button class="minus"></button>
                            <span>12</span>
                            <button class="plus"></button>
                        </div>
                    </div>
                    <div class="sidebar-right">
                        <div class="choose">
                            <select class="control-select">
                                <option disabled selected>Meat Dishes</option>
                                <option>option 1</option>
                                <option>option 2</option>
                                <option>option 3</option>
                            </select>
                        </div>
                        <div class="menu-list">
                            <div class="list-item active-item">
                                <div class="item-img"></div>
                                <div class="item-title">Chicken Parmesan</div>
                            </div>
                            <div class="list-item">
                                <div class="item-img"></div>
                                <div class="item-title">Chicken Parmesan</div>
                            </div>
                            <div class="list-item">
                                <div class="item-img"></div>
                                <div class="item-title">Chicken Parmesan</div>
                            </div>
                            <div class="list-item">
                                <div class="item-img"></div>
                                <div class="item-title">Chicken Parmesan</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="menu-content">
                    <div class="product">
                        <div class="product-photos">
                            <div class="product-main-photo"></div>
                            <div class="footer-photos">
                                <div class="footer-photo"></div>
                                <div class="footer-photo"></div>
                            </div>
                        </div>
                        <div class="product-desc">
                            <h4>Chicken Parmesan</h4>
                            <span class="primary-text">Calories : 70gr - Chicken</span>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et .
                            </p>
                            <h2>15$</h2>
                            <div class="product-footer-btns">
                                <button class="outline-primary-medium" (click)="openModal(template)">See More</button>
                                <button class="primary-medium">Add</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>

<div class="menus">
    <app-menustoday></app-menustoday>
</div>
<app-subscribe></app-subscribe>





<ng-template #template>
    <div class="details">
        <button type="button" class="close-btn" aria-label="Close" (click)="modalRef.hide()">
        </button>
        <div class="details-photos">
            <div class="details-main-photo"></div>
            <div class="details-footer-photos">
                <div class="details-footer-photo"></div>
                <div class="details-footer-photo"></div>
                <div class="details-footer-photo"></div>
            </div>
        </div>
        <div class="description">
            <h4>Chicken Parmesan</h4>
            <p class="primary-text">Calories : 70gr - Chicken</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et .
            </p>
            <p>
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu.
            </p>
        </div>
        <div class="card">
            <h4>Ingredients</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et .
            </p>
        </div>
    </div>
</ng-template>