<article>
    <div class="wrapper prew">
        <div class="preview">
            <h2>Trust Us, All Set Just For You</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
            <button class="primary-large">Subscribe</button>
        </div>
    </div>
</article>
<article>
    <div class="wrapper">
        <div class="about-us">
            <div class="about-us-content">
                <span class="sup-title">ABOUT US</span>
                <h2>We Provide the next levels of catering service</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud.
                </p>
            </div>
            <div class="card">
                <div class="card-ico">
                    <!--<img src="../../../assets/images/star.svg" alt="...">-->
                </div>
                <h3>Top Rated</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit form du lahoke.</p>
            </div>
        </div>
    </div>
</article>
<article>
    <div class="wrapper">
        <div class="story">
            <div class="story-title">
                <span class="sup-title">galery</span>
                <h2>Our Story</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
                </p>
            </div>
            <div class="galery">
                <div class="row">
                    <div class="photo"></div>
                    <div class="photo"></div>
                </div>
                <div class="row">
                    <div class="photo"></div>
                    <div class="photo"></div>
                </div>
            </div>
        </div>
    </div>
</article>
<article>
    <div class="wrapper">
        <div class="team">
            <div class="team-photo"></div>
            <div class="team-title">
                <span class="sup-title">team</span>
                <h2>Foodology Teams</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud.
                </p>
            </div>
        </div>
    </div>
</article>
<article>
    <div class="wrapper">
        <div class="value">
            <div class="value-title">
                <span class="sup-title">value</span>
                <h2>Our Value</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.
                </p>
            </div>
            <div class="value-card">
                <div class="outline-card">
                    <div class="outline-card-ico"></div>
                    <h3>Fresh</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit form du lahoke.
                    </p>
                </div>
                <div class="outline-card">
                    <div class="outline-card-ico"></div>
                    <h3>Top Rated</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit form du lahoke.
                    </p>
                </div>
                <div class="outline-card">
                    <div class="outline-card-ico"></div>
                    <h3>Fresh</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit form du lahoke.
                    </p>
                </div>
            </div>
        </div>
    </div>
</article>