<article class="login">
    <div class="login-photo">
        <!--<img src="../../../assets/images/login-img.jpg" alt="...">-->
    </div>
    <form class="login-form">
        <h4>Sign in to continue</h4>
        <button class="primary-large google-btn">Sign in whith Google</button>
        <div class="text-with-line">
            <p>Or, sign in with your email</p>
            <span class="line"></span>
        </div>
        <label class="label">
            <span class="label-name">Email address</span>
            <input type="email" class="control">
        </label>
        <label class="label">
            <span class="label-name">Password</span>
            <input type="password" class="control">
        </label>
        <div class="btn-forgot">
            <button class="btn">Forgot password?</button>
        </div>
        <button type="submit" class="primary-large">Sign in</button>
        <p>Don’t have an account? <button class="btn">Sign up now</button></p>
    </form>
</article>