// ? Variables
$primary: #fe724c;
$primaryHover: #e25b37;
$secondary: #26120c;
$titleText: #333;
$mainText: #707070;
$outline: #dfe1e6;
$form: #fafbfc;
$whiteText: #fff;
$disabled: #c7c7c7;
$focus: #f23400;
$placeholder: #33333366;
$success: #27ae60;
$warning: #f2c94c;
$danger: #eb5757;
$labelColor: #5a7184;