<article>
    <div class="wrapper">
        <div class="products-wrapper">
            <div class="left">
                <div class="product-title text-center">
                    <h2>Items & Payment</h2>
                    <span class="sup-title">{{ products.length }} items</span>
                </div>
                <div class="products">
                    <div class="prod" *ngFor="let p of products">
                        <div class="prod-img" [style.backgroundImage]="'url('+p.images[0]+')'"></div>
                        <p class="prod-name">{{ p.name }}</p>
                        <p>${{ p.price * p.count | number:'2.2-2' }}</p>
                        <button class="delete-prod" (click)="deleteLocalProduct(p)"></button>
                    </div>
                </div>
            </div>
            <div class="order-data">
                <div class="information">
                    <h5 class="title-data">
                        Shipping Information
                        <button class="edit-btn"></button>
                    </h5>
    
                </div>
            </div>
        </div>
    </div>
</article>