@import "../../shared/styles/variables";

.wrapper{
    margin: 50px auto 100px;
    padding-bottom: 75px;
    border-bottom: 1px solid #d3d3d3;
}

.products-wrapper{
    display: flex;
    justify-content: space-between;
}

.left{
    width: 550px;
}

.information{
    position: sticky;
    top: 70px;
}

.information{
    width: 300px;
}

.product-title{
    margin-bottom: 50px;
    h2{
        margin-bottom: 15px;
    }
}

.products{
    display: flex;
    flex-wrap: wrap;
}

.prod {
    width: 150px;
    margin-bottom: 40px;
    margin-right: 50px;
    position: relative;
    &:nth-child(3n+3){
        margin-right: 0;
    }
    .delete-prod{
        width: 30px;
        height: 30px;
        outline: none;
        border: 1px solid #d3d3d3;
        border-radius: 50%;
        background: url('../../../assets/images/close-cross.svg') center/10px no-repeat #fafafa;
        box-shadow: 0 0 10px 0px #80808069;
        position: absolute;
        top: -10px;
        right: -10px;
        opacity: 0;
        transition: all .2s ease;
        &:hover{
            background-color: #f3f3f3;
        }
    }
    &:hover .delete-prod {
        opacity: 1;
    }
    .prod-img {
        width: 100%;
        height: 150px;
        margin-bottom: 20px;
        border-radius: 25px;
        background: url("../../../assets/images/menu-item-img.jpg") center/cover no-repeat;
    }
    text-align: center;
    .prod-name {
        font-weight: 600;
        color: $titleText;
    }
}

.order-data{
    width: 500px;
    padding-left: 75px;
    border-left: 1px solid #DFE1E6;
}

.title-data{
    display: inline-block;
    position: relative;
    width: auto;
    .edit-btn{
        position: absolute;
        width: 14px;
        height: 14px;
        background: url('../../../assets/images/pencil.svg') center/cover no-repeat transparent;
        border: none;
        outline: none;
        top: 50%;
        transform: translateY(-50%);
        right: -25px;
    }
}

.name::before{
    content: '';
    display: block;
}

.label{
    width: 220px;
    padding-left: 30px;
    height: 35px;
    position: relative;
    .ico{
        content: '';
        display: block;
        width: 17px;
        height: 17px;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        background: url('../../../assets/images/user-ico.svg') center/cover no-repeat transparent;
    }
    .address{
        background: url('../../../assets/images/arrow-top.svg') center/cover no-repeat transparent;
    }
    .number{
        background: url('../../../assets/images/phone-ico.svg') center/cover no-repeat transparent;
    }
    .credit-card{
        background: url('../../../assets/images/credit-card.svg') center/cover no-repeat transparent;
    }
}
.control{
    height: 35px;
    font-size: 14px;
}

.card-data{
    text-align: center;
    padding: 0;
    width: 70px;
    margin-left: 10px;
}

h6{
    color: $titleText;
}

.order-button{
    border-top: 1px solid #DFE1E6;
    padding-top: 30px;
}

@media screen and (max-width: 414px) {
    .wrapper{
        width: 100%;
        padding: 0 30px;
        margin-bottom: 30px;
    }
    .products-wrapper{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .products{
        width: auto;
        //justify-content: center;
    }
    .prod{
        width: 80px;
        margin-right: 10px;
        margin-left: 15px;
        .prod-img{
            height: 80px;
        }
    }
    .order-data{
        width: 100%;
        padding: 0;
        border: none;
        margin-bottom: 50px;
    }
    .left{
        width: 100%;
    }
    .product-title{
        margin-bottom: 20px;
    }
}