@import '../../shared/styles/variables';
@import "../../shared/styles/base";

.article-preview {
    position: relative;
    &::before {
        content: "";
        display: block;
        height: 561px;
        background-color: $primary;
        position: absolute;
        top: 77px;
        left: 75%;
        right: 0px;
    }
}

.prev {
    position: relative;
}

.preview {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.preview-left {
    width: 510px;
    margin-top: 140px;
    p {
        margin: 30px 0 55px;
    }
}

.preview-right {
    width: 50%;
    height: 561px;
    border-radius: 30px 0 0 30px;
    background: $primary;
    position: relative;
    right: 0;
    margin-top: 77px;
    img {
        margin-left: -70px;
    }
    &::after {
        content: "";
        display: block;
        position: absolute;
        left: -70px;
        width: 680px;
        height: 545px;
        background: url("../../../assets/images/preview.png") center/cover no-repeat;
        z-index: 100;
    }
}

// Commitment
.commitment {
    margin-top: 180px;
    margin-bottom: 150px;
}

.commitment-header {
    p {
        margin-top: 25px;
        width: 500px;
    }
}

.commitment-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    .card:first-child {
        .card-ico {
            background: url("../../../assets/images/star.svg") center/30px no-repeat $primary;
        }
    }
    .card:nth-child(2) {
        .card-ico {
            background: url("../../../assets/images/orange.svg") center/41px no-repeat $primary;
        }
    }
}

.delivery {
    width: 397px;
    p:nth-child(1) {
        margin: 20px 0px 30px;
    }
    p:nth-child(2) {
        margin: 6px 0px;
    }
    button {
        margin-top: 40px;
    }
    span {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 54px;
        line-height: 150%;
        span {
            font-size: 20px;
        }
    }
}

// Process
.process {
    margin-bottom: 150px;
}

.process-header {
    text-align: center;
    margin-bottom: 100px;
}

.process-content {
    display: flex;
    justify-content: space-between;
}

.list-item {
    display: flex;
    .process-count {
        font-family: Poppins;
        font-weight: 600;
        font-size: 30px;
        line-height: 150%;
    }
    .process-text {
        width: 410px;
        margin-left: 27px;
    }
    p {
        margin: 30px 0;
    }
}

.process-photo {
    width: 495px;
    background: url("../../../assets/images/process.jpg") center/cover no-repeat;
    border-radius: 20px;
}

.menus {
    padding: 100px 0px 170px;
    background-color: #fff3ef;
    margin-bottom: 150px;
}

@media screen and (max-width: 414px) {
    .article-preview {
        &::before {
            top: 475px;
            height: 40vh;
        }
    }
    .preview {
        flex-wrap: wrap;
        padding: 0px 30px;
    }
    .preview-left {
        margin: 30px 0 40px;
        height: 365px;
        .sup-title {
            text-transform: none;
            letter-spacing: 0.5px;
        }
        p {
            margin: 10px 0px 30px;
        }
    }
    .preview-right {
        position: relative;
        margin-top: 40px;
        width: 100%;
        height: 40vh;
        img {
            height: 100%;
        }
        &::after {
            left: -30px;
            position: absolute;
            width: 360px;
            height: 320px;
            height: 100%;
            background: url("../../../assets/images/preview.png") left/360px no-repeat;
        }
    }
    .commitment {
        padding: 0px 30px;
        margin-top: 80px;
        margin-bottom: 80px;
    }
    .commitment-header {
        margin-bottom: 30px;
        p {
            width: 100%;
            margin-top: 10px;
        }
    }
    .commitment-footer {
        flex-wrap: wrap;
        justify-content: center;
        .card {
            margin-bottom: 50px;
        }
        .delivery {
            button {
                display: inline;
                height: auto;
                padding: 0;
                margin-top: 22px;
                border: none;
                &:hover {
                    background-color: transparent;
                    border: none;
                }
                &:focus {
                    color: $primaryHover;
                }
            }
        }
    }
    .process {
        margin-bottom: 80px;
        padding: 0px 30px;
        .process-header {
            margin-bottom: 65px;
        }
        .list-item {
            h4 {
                margin-top: 8px;
                font-size: 23px;
            }
            p {
                margin: 10px 0px 20px;
            }
            .primary-text {
                font-size: 23px;
            }
            border-bottom: 1px solid #dfe1e6;
            margin-bottom: 30px;
        }
        .process-text {
            width: 100%;
        }
        .process-content {
            flex-wrap: wrap;
        }
        .process-photo {
            margin-top: 20px;
            width: 100%;
            height: 65vh;
        }
    }
    .menus {
        padding: 40px 0px 100px;
        margin-bottom: 0px;
    }
}
