<article class="article-preview">
    <div class="wrapper prev">
        <div class="preview">
            <div class="preview-left">
                <span class="sup-title">Changing your catering way</span>
                <h1>Perfect Foods <br> <span class="primary-text">Better Live</span></h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do. rong para duija naago conporat der
                    Andomo lakoc amet aven.
                </p>
                <button class="primary-large">Subscribe</button>
            </div>
            <div class="preview-right">
            </div>
        </div>
    </div>
</article>
<article>
    <div class="wrapper">
        <div class="commitment">
            <div class="commitment-header">
                <span class="sup-title">COMMITMENT</span>
                <h2>Why we are good for you</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit form du lahoke.
                </p>
            </div>
            <div class="commitment-footer">
                <div class="card">
                    <div class="card-ico">
                        <!--<img src="../../../assets/images/star.svg" alt="...">-->
                    </div>
                    <h3>Top Rated</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit form du lahoke.</p>
                </div>
                <div class="card">
                    <div class="card-ico"></div>
                    <h3>Fresh Food</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit form du lahoke.</p>
                </div>
                <div class="delivery">
                    <h3>Express Delivery</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit form du lahoke.
                    </p>
                    <span class="primary-text">37 <span>min</span></span>
                    <p>Average delivery times.</p>
                    <button class="outline-primary-large">See More</button>
                </div>
            </div>
        </div>
    </div>
</article>
<article>
    <div class="wrapper">
        <div class="process">
            <div class="process-header">
                <span class="sup-title">process</span>
                <h2>Just easy step for you</h2>
            </div>
            <div class="process-content">
                <div class="process-list">
                    <div class="list-item">
                        <div class="process-count">
                            <span class="primary-text">01</span>
                        </div>
                        <div class="process-text">
                            <h4>Select your best menus</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="process-count">
                            <span class="primary-text">02</span>
                        </div>
                        <div class="process-text">
                            <h4>Complete the payment</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
                        </div>
                    </div>
                    <div class="list-item">
                        <div class="process-count">
                            <span class="primary-text">03</span>
                        </div>
                        <div class="process-text">
                            <h4>Complete the payment</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
                        </div>
                    </div>
                </div>
                <div class="process-photo"></div>
            </div>
        </div>
    </div>
</article>
<!--<app-feedback></app-feedback>-->
<div class="menus">
    <app-menustoday></app-menustoday>
</div>
<app-subscribe></app-subscribe>