<footer>
    <div class="wrapper">
        <div class="footer-inner">
            <article>
                <div class="social-icons">
                    <a href="#!" class="footer-link"></a>
                    <a href="#!" class="footer-link"></a>
                    <a href="#!" class="footer-link"></a>
                    <a href="#!" class="footer-link"></a>
                </div>
                <p class="copyright">© 2020 Foodology. All rights reserved</p>
            </article>
            <article class="footer-right">
                <div class="items">
                    <div class="items-inner">
                        <h6 class="items-title">Foods</h6>
                        <a [routerLink]="[ '/pricing' ]" class="item">Pricing</a>
                        <a [routerLink]="[ '/foods' ]" class="item">Menus</a>
                    </div>
                    <a href="#!" class="item">Privacy Policy</a>
                </div>
                <div class="items">
                    <div class="items-inner">
                        <h6 class="items-title">Help</h6>
                        <a [routerLink]="[ '/about' ]" class="item">About</a>
                    </div>
                    <a href="#!" class="item">Terms & Conditions</a>
                </div>
            </article>
        </div>
    </div>
</footer>