<article>
    <div class="wrapper">
        <div class="menu">
            <div class="menu-title">
                <span class="sup-title">PRODUCT</span>
                <h2>Menus for today</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut.
                </p>
            </div>
            <div class="menu-content">
                <div class="menu-photo"></div>
                <div class="menu-products">
                    <div class="menu-product-title">
                        <h3>Breakfast Monday</h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labort.
                        </p>
                    </div>
                    <div class="prod-wrapper">
                        <div class="menu-product">
                            <div class="text">
                                <h5>Main Course</h5>
                                <p>Lorem ipsum dolor sit amet.</p>
                            </div>
                            <div class="menu-ico"></div>
                        </div>
                        <div class="menu-product">
                            <div class="text">
                                <h5>Dessert</h5>
                                <p>Lorem ipsum dolor sit amet.</p>
                            </div>
                            <div class="menu-ico"></div>
                        </div>
                        <div class="menu-product">
                            <div class="text">
                                <h5>Appetizer</h5>
                                <p>Lorem ipsum dolor sit amet.</p>
                            </div>
                            <div class="menu-ico"></div>
                        </div>
                    </div>
                    <!--<div class="menu-btns">
                        <button disabled></button>
                        <button></button>
                    </div>-->
                </div>
            </div>
        </div>
    </div>
</article>